{% extends "base.html" %} {% load wagtailcore_tags wagtailimages_tags %} {% block body_class %}template-newsindexpage{% endblock %} {% block content %} {% for post in blogpages %} {% with post=post.specific %}
<div class="row">
    <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12" data-aos="fade-right">
        {% with post.main_image as main_image %} {% if main_image %}
        <a href="{% pageurl post %}">{% image main_image fill-300x200 %}</a> {% endif %} {% endwith %}
    </div>
    <div class="col-lg-7 col-xs-12">
        <div class="blog-column">
            <span><a href="{% pageurl post %}">{{ post.title }}</a></span>
            <ul class="blog-detail list-inline">
                <li><i class="fa fa-user"></i>{{ post.author }}</li>
                <li><i class="fa fa-clock-o"></i>{{ post.date }}</li>
                {% if post.tags.all.count %} {% for tag in post.tags.all %}
                <li><i class="fa fa-tag"></i>
                    <a href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}</a> {% endfor %}</li>

                {% endif %}
            </ul>
            {% for block in post.body %} {% if block.block_type == 'heading' %} {{ block.value }} {% endif %} {% if block.block_type == 'paragraph' %} {{ block.value|truncatewords_html:30 }} {% endif %} {% endfor %}
            <a href="{% pageurl post %}">читаем далее</a>
        </div>
        {% endwith %}
    </div>
</div>
<div style="margin:20px 0px;"></div>
{% endfor %} {% endblock %}
